.BottomUp button{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    border: 0;
    border-radius: 50px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.323);
    cursor: pointer;
    background-color: #008080;
}
.BottomUp button:hover{
color: #faab36;
}


.BottomUp .ArrowUp{
   /* transition: 1s; */
    animation: arrow .5s linear infinite alternate-reverse;
}
@keyframes arrow{
    0%{
       
        transform: translateY(-.5rem);
    }
    100%{
       
        transform: translateY(.5rem);
    }
}

@media (max-width:600px) {
    .BottomUp button{
       display: none;
        }
         
}