@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Monoton&family=PT+Sans:wght@400;700&family=Pacifico&family=Parisienne&family=Prata&family=Press+Start+2P&family=Varela+Round&display=swap');

.light_Theme{
    --black:#000;
    --white: #fff;
    --hero_bg:#fff;
}
.dark_Theme{
    --black:#fff;
    --white: #2b2a2a;
    --hero_bg:#000;
}
.H_Container{
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    background-color: var(--white );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    position: sticky;
    top: 0rem;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.189);
}
.Logo{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.Logo h1{
    color: var(--black);
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
font-style: normal;

}
.Logo img{
    width: 4rem;
    height: 4rem;
    /* margin: 0rem; */
    
}

.menuItem{
    display: flex;
    align-items: center;
}
.menuItem li{
    padding: 0 1rem;
}
.menuItem li a{
    color: var(--black);
    font-size: 1.1rem;
    
}
.menuItem li .cycling{
    display: none;
    width: 100%;

}
/* .darkMode{
    background-color: olive;
    display: block;
    margin: 0;
    padding: 0;
} */
.Hamburger{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
@media (max-width:1024px) {
    .H_Container{
        width: 100%;
        height: 5rem;
        padding: 0 1rem;
        background-color: var(--white );
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }  
  
    .Logo h1{
        color: var(--black);
        font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    }
    .Logo img{
        width: 3rem;
        height: 3rem;
        margin:  1rem 0;
        
    } 
    /* .Navbar{
       
        padding-right: 0rem;
      
        
    } */
    .menuItem{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 5rem;
        left: -100%;
        padding-top: 2rem;
        z-index: -1;
        transition: all 0.4s;
        background-color: var(--white);
    }
    .menuItem li{
       
        padding: .5rem 0;
    }
    .menuItem li a{
        /* color: var(--black); */
        font-size: 1.2rem;
        font-weight: 600;
    }
    .menuItem li .cycling{
        display: block;
        width: 40%;
       margin: auto;
      
       /* padding-top: 1rem; */
        /* margin-bottom: 8rem; */
    }
    .Hamburger{
        font-size: 2rem;
        cursor: pointer;
        display: block;
    }
    .active{
        left: 0;
    }
}