*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}

.light_Theme{
    --black:#000;
    --white: #fff;
    --hero_bg:#fff;
    --background-color:#fff;
}
.dark_Theme{
    --black:#fff;
    --white: #2b2a2a;
    --hero_bg:#000;
    --background-color:#141516;
}

ul{
    list-style: none;
  
}
li{
    
    text-decoration: none;
}
a{
    text-decoration: none;
}